{% extends "base.html" %}

{% block content %}
<h3>Свойства вулканов</h3>
<table style="float:left">
    <tr><th>Название</th>
        <th>Дата</th>
        <th>Термальная аномалия</th>
        <th>Количество событий</th>
        <th>Макс. высота ПГД </th>
        <th>Наблюдаемые пепловые выбросы</th>
        <th>Код опасности</th>
    </tr> <!--ряд с ячейками заголовков-->
    {% for state_volcano in state_volcanoes%}
    <tr><td>{{state_volcano.namev}}</td>
        <td>{{state_volcano.date_state}}</td>
        <td>{{state_volcano.thermal_anomaly}}</td>
        <td>{{state_volcano.number_events}}</td>
        <td>{{state_volcano.max_pgd_height}}</td>
        <td>{{state_volcano.observ_ash_emissions}}</td>
        <td>{{state_volcano.hazard_code}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}